<?xml version="1.0"?>
<ruleset name="Laminas coding standard">
    <rule ref="./vendor/laminas/laminas-coding-standard/src/LaminasCodingStandard/ruleset.xml"/>
    <arg value="nps" />

    <!-- Paths to check -->
    <file>src</file>
    <file>test</file>
    <rule ref="LaminasCodingStandard">
        <!-- Typed nullable properties do need null defualt values -->
        <exclude name="WebimpressCodingStandard.Classes.NoNullValues.Invalid"/>
    </rule>
</ruleset>
