<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnIncompleteTests="true"
         failOnPhpunitDeprecation="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="laminas-serializer Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
